<div class="chart chart__container" ...attributes>
  <div class="chart chart__header">
    {{!-- TODO: Change this title, make it dynamic, or delete it --}}
    <span class="chart chart__title">2020 in Review</span>
  </div>
  <div class="chart chart__graph chart__graph--heatmap" {{did-insert this.generateYear}}></div>
</div>
