<nav>
  <div>
    <ul class='nav nav__bar'>
      <LinkTo class="nav nav__link" @route="health-details">Krishna's TMI</LinkTo>
      <li>
        <LinkTo class="nav nav__link" @route="why-tmi">Why TMI</LinkTo>
      </li>
      <li>
        <a class="nav nav__link" href="https://krishnapa.tel/">Krishna Patel</a>
      </li>
    </ul>
  </div>
</nav>
