<header>
  <div>
    <ul>
      <li>
        <a>Why TMI</a>
      </li>
      <li>
        <a>Charts</a>
      </li>
      <li>
        <a>Krishna Patel</a>
      </li>
    </ul>
  </div>
  <h1>Krishna's TMI</h1>
</header>
