// Material Gray
$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

// Material Blue-Gray
$color-blue-gray-50: #ECEFF1;
$color-blue-gray-100: #CFD8DC;
$color-blue-gray-200: #B0BEC5;
$color-blue-gray-300: #90A4AE;
$color-blue-gray-400: #78909C;
$color-blue-gray-500: #607D8B;
$color-blue-gray-600: #546E7A;
$color-blue-gray-700: #455A64;
$color-blue-gray-800: #37474F;
$color-blue-gray-900: #263238;

// Material Red
$color-red-50: #FFEBEE;
$color-red-100: #FFCDD2;
$color-red-200: #EF9A9A;
$color-red-300: #E57373;
$color-red-400: #EF5350;
$color-red-500: #F44336;
$color-red-600: #E53935;
$color-red-700: #D32F2F; // color-secondary
$color-red-800: #C62828;
$color-red-900: #B71C1C;
$color-red-A100: #FF8A80;
$color-red-A200: #FF5252;
$color-red-A400: #FF1744;
$color-red-A700: #D50000;

// Material Indigo
$color-indigo-50: #E8EAF6;
$color-indigo-100: #C5CAE9;
$color-indigo-200: #9FA8DA;
$color-indigo-300: #7986CB;
$color-indigo-400: #5C6BC0;
$color-indigo-500: #3F51B5;
$color-indigo-600: #3949AB; // color-primary
$color-indigo-700: #303F9F;
$color-indigo-800: #283593;
$color-indigo-900: #1A237E;
$color-indigo-A100: #8C9EFF;
$color-indigo-A200: #536DFE;
$color-indigo-A400: #3D5AFE;
$color-indigo-A700: #304FFE;

// Thematic Declarations

$color-text: $color-gray-900;
$color-background: $color-blue-gray-50;
$color-background-dark: $color-blue-gray-100;

$color-secondary: $color-indigo-A700;

$color-background-alt: $color-indigo-100;