.nav {
  &__bar {
    list-style: none;
    margin: 0;
    background-color: $color-blue-gray-100;
    border-radius: 2px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1em;
    
    @include media(">=tablet") {
      justify-content: flex-start;
      flex-flow: row wrap;
      padding: 2em;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: .5em 0;
    color: $color-text;
    transition: all 0.25s ease-in;
    font-weight: 500;
    font-size: 1.25rem;

    @include media(">=tablet") {
      padding: .5em 1em;
    }

    &.active {
      text-decoration: underline $color-text solid;
    }

    &:hover {
      color: $color-secondary;
      &.active {
        text-decoration: underline $color-secondary solid;
      }
    }
  }
}
