<article>
  <h1 class="article article__header">Why TMI?</h1>

  <div class="article article__text">Lately, I&rsquo;ve felt like I want to be accountable to myself on my fitness
    journey. A valid strategy is to announce to the world how much I&rsquo;ve been exercising, no app necessary. Hence,
    <span class="article article__text article__text--emphasis">TMI (too much information)</span>.
  </div>

  <div class="article article__text">The number one thing that matters to me is <span
      class="article article__text article__text--emphasis">energy expenditure</span> in calories burned. It is the raw
    measurement of exercise done in a day, split into two categories: active calories and passive calories (determined
    somewhat obscurely by the Apple Health app).
  </div>

  <div class="article article__text">
    To get a total for calories burned in a day, I wear my Apple Watch first
    thing in the morning until I sleep. It logs workouts and daily calories which I use to estimate how many
    calories I want to consume (roughly
    under the total amount of the day). At the end of the week, if I&rsquo;ve found that I lost a reasonable amount
    of weight, I can feel confident that my food intake and energy expenditure are at a good place.</div>

  <div class="article article__text">
    All of this data comes from the Apple Health app, which uses a native iOS Shortcut that pings a database every
    morning.</div>

  <h2>Roadmap</h2>
  <div class="article article__text">
    A few more things to expect down the road.</div>

  <ul>
    <li>Dark mode</li>
    <li>Steps</li>
    <li>Stairs climbed</li>
    <li>Distance travelled</li>
    <li>Total exercise minutes</li>
  </ul>
</article>